{% extends "layout.html" %}
{% block title %}Sign In{% endblock %}
{% block body %}
    <h2>Sign In</h2>
    {% if error %}
        <div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <dl>
            <dt>Username:
            <dd>{{ form.username(size=30) }}
            <dt>Password:
            <dd>{{ form.password(size=30) }}
        </dl>
        <div class="actions"><input type="submit" value="Sign In"></div>
    </form>
{% endblock %}

